body {
    background-color: #adadad;
}

.m-a {
    margin: auto;
}

.bg-b {
    background-color: black;
}

.c-w {
    color: white;
    text-decoration: none;
}

.c-w:hover {
    color: red;
    text-decoration: none;
}

.tc-l {
    text-align: left;
}

.d-i {
    display: inline;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-100 {
    width: 100%;
}

.d-s {
    position: sticky;
    top: 0;
}

.d-ib {
    display: inline-block;
}

.hero {
    z-index: -999;
    width: 90%;
    position: fixed;
    top: 0;
    transform: translate(4%);
    filter: sepia(100%) blur(10px);
}

.tc-w {
    color: white;
}

.db {
    display: block;
}

.ta-c {
    text-align: center;
}

img {
    width: 50%;
    height: auto;
}

.card {
    /* width: 20%;
    height: 25%; */
    padding: 2em;
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 10px black;
    background-color: black;
    margin: 2em;
}

.card .cardTitle {
    text-align: left;
    font-size: 1.5em;
}

.ptb-1 {
    padding: .3em 0em .3em 1em;
}

.ptb-2 {
    padding: 1em 1em 1em 1em;
}

.plr-2 {
    padding: 0em 1em 0em 1em;
}

.ft-2 {
    font-size: 1.5em;
}

.ft-3 {
    font-size: 2em;
}

.ft-4 {
    font-size: 3em;
}

.img-w {
    width: 100%;
}

.va {
    vertical-align: middle;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}